# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# Virtual environment
# -------------------------
venv/
.env

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# IDE
# -------------------------
.vscode/

# -------------------------
# Model / Index files
# -------------------------
*.faiss
*.bin
*.pt
*.onnx

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Secrets
# -------------------------
.env
*.key

backend/data/raw_pdfs/
*.pdf


# Python junk
__pycache__/
*.pyc
.venv/
venv/
